/*
 Theme Name:     WSU Campaign Celebration
 Theme URI:      https://campaign.wsu.edu/
 Description:    Campaign theme based on the Spine Parent Theme
 Author:         WSU University Communications
 Author URI:     https://web.wsu.edu/
 Template:       spine
 Version:        0.0.4
*/


/* Let us celebrate! */
